<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="goldPriceHistory">
    <select id="findList" resultType="goldPriceDomain" parameterType="goldPriceDomain">
        select *
        from tbl_gold_price tgp
    </select>

    <select id="findListDetail" resultType="goldPriceDomain" parameterType="goldPriceParameterDomain">
        select tgp.gold_date,
            gold_price_type,
            jewelry_type,
            (select code_value from tbl_common_code where code_key = tgp.jewelry_type) jewelry_type_nm,
            gold_purity,
            (select code_value from tbl_common_code where code_key = tgp.gold_purity) gold_purity_nm,
            round(avg(gold_price)) avg_gold_price,
            max(gold_price) max_gold_price,
            min(gold_price) min_gold_price,
            gold_currency,
            (select code_value from tbl_common_code where code_key = tgp.gold_currency) gold_currency_nm,
            country_code,
            (select code_value from tbl_common_code where code_key = tgp.country_code) country_code_nm,
            #{period} period
        from (
            select gold_price_seq,
            jewelry_type,
            to_char(gold_date, #{searchDateType}) gold_date,
            gold_purity,
            gold_price_type,
            gold_price,
            gold_currency,
            country_code
        from tbl_gold_price
            where jewelry_type = #{jewelryType}
                and gold_price_type = #{goldPriceType}
                and use_yn = 'Y'
                and del_yn = 'N'
        ) tgp inner join (
            select to_char(to_date(#{searchStartDate}, #{searchDateType}) - interval '1' ${dateType} * l, #{searchDateType}) cal_date
            from generate_series(1, #{dateLength}) l
        ) cal on tgp.gold_date = cal.cal_date
        group by tgp.jewelry_type, tgp.gold_purity, tgp.gold_date, tgp.gold_price_type, gold_currency, country_code
        order by tgp.gold_date desc
    </select>
</mapper>